In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

In [ ]:
df= pd.read_csv('Data_analyst_cleaned.csv')
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Job_Title',
       'Salary_Estimate', 'Job_Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type_of_ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'Easy Apply',
       'Min_salary', 'min_salary', 'Max_salary', 'max_salary', 'avg_salary',
       'Avg_salary', 'Job_state', 'Job_city', 'headquarters_city',
       'Same_state_hq_jl', 'Age', 'python_jd', 'Sql', 'aws', 'visualization',
       'Project_Management', 'Database_Management', 'Excel', 'job_simp',
       'Seniority', 'desc_len', 'Competitors_count', 'Min_salary_hr',
       'Max_salary_hr', 'avg_salary_hr', 'Rating_groups'],
      dtype='object')

In [ ]:
df = df[df['Salary_Estimate']!= '-1']
Salary= df['Salary_Estimate'].apply(lambda x: x.split('(')[0])
DeletedKd= Salary.apply(lambda x: x.replace('K','').replace('$',''))

In [ ]:

df['Min_salary'] = DeletedKd.apply(lambda x: int(x.split('-')[0]))
df['min_salary'] =df['Min_salary']

In [ ]:
df['Max_salary'] = DeletedKd.apply(lambda x: int(x.split('-')[1]))
df['max_salary'] = df['Max_salary']

In [ ]:

df['avg_salary'] = ((df.Min_salary+df.Max_salary)/2)
df['Avg_salary']= df['avg_salary']

In [ ]:
df['Job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.Job_state.value_counts()
df['Job_state']

0        NY
1        NY
2        NY
3        NY
4        NY
       ...
2248     CO
2249     CO
2250     CO
2251     CO
2252     CO
Name: Job_state, Length: 2252, dtype: object

In [ ]:
df['Job_city'] = df['Location'].apply(lambda x: x.split(',')[0])

df['Job_city']

0         New York
1         New York
2         New York
3         New York
4         New York
           ...
2248        Denver
2249    Centennial
2250        Denver
2251    Centennial
2252    Broomfield
Name: Job_city, Length: 2252, dtype: object

In [ ]:
def title_simplifier(title):
    if 'engineer' in title.lower():
        return 'Data Engineer'
   
    elif ' business analyst' in title.lower():
        return 'Business analyst'
    elif 'scientist' in title.lower():
        return 'Data Scientist'
    elif 'manager'in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'Director'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'quantitative' in title.lower():
        return 'quantitative analyst'
    
    elif 'operations' in title.lower():
        return 'operations analyst'
    elif 'marketing' in title.lower():
        return 'marketing analyst'
#     else :
#         return 'Na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'Sr.' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'Junior' in title.lower() or 'junior' in title.lower():
        return 'junior'
#     else :
#         return 'na'
df['job_simp'] = df['Job_Title'].apply(title_simplifier)

In [ ]:
df['headquarters_city'] = df['Headquarters'].apply(lambda x: x.split(',')[0])
df['headquarters_city']
df['Same_state_hq_jl'] = df.apply(lambda x:1 if x.Location == x.Headquarters else 0 , axis=1)
df['Same_state_hq_jl']

0       1
1       1
2       1
3       0
4       1
       ..
2247    0
2248    1
2249    0
2250    0
2251    1
Name: Same_state_hq_jl, Length: 2252, dtype: int64

In [ ]:
df['Age']= df.Founded.apply(lambda x:x if x<1 else 2020-x)
df['Age']

0        59
1       127
2        17
3        18
4        11
       ...
2247     -1
2248     85
2249     -1
2250     36
2251    156
Name: Age, Length: 2252, dtype: int64

In [ ]:
df['python_jd']= df['Job_Description'].apply(lambda x: 1 if 'python' in x.lower() else 0 )
df.python_jd.value_counts()

0    1615
1     637
Name: python_jd, dtype: int64

In [ ]:
df['Sql']= df['Job_Description'].apply(lambda x: 1 if 'sql'  in x.lower() or 'SQL' in x.lower() else 0 )
df.Sql.value_counts()

1    1388
0     864
Name: Sql, dtype: int64

In [ ]:
df['aws']= df['Job_Description'].apply(lambda x: 1 if 'aws'  in x.lower() or 'amazon' in x.lower()  else 0 )
df.aws.value_counts()

0    1959
1     293
Name: aws, dtype: int64

In [ ]:
df['visualization']= df['Job_Description'].apply(lambda x: 1 if 'visualize '  in x.lower() or 'tableau' in x.lower() or 'visualization' in x.lower()  else 0 )
df.visualization.value_counts()

0    1440
1     812
Name: visualization, dtype: int64

In [ ]:
df['Project_Management']= df['Job_Description'].apply(lambda x: 1 if 'Project Management'  in x.lower() or 'team work' in x.lower() or 'project' in x.lower()  else 0 )
df.Project_Management.value_counts()

1    1221
0    1031
Name: Project_Management, dtype: int64

In [ ]:
df['Database_Management']= df['Job_Description'].apply(lambda x: 1 if 'databasemanagement'  in x.lower() or 'dbs' in x.lower() or 'database' in x.lower()  else 0 )
df.Database_Management.value_counts()

0    1298
1     954
Name: Database_Management, dtype: int64

In [ ]:
df['Excel']= df['Job_Description'].apply(lambda x: 1 if 'excel'  in x.lower() or 'Ms' in x.lower() else 0 )
df.Excel.value_counts()
df['Excel']

0       0
1       1
2       1
3       0
4       1
       ..
2247    0
2248    0
2249    1
2250    0
2251    1
Name: Excel, Length: 2252, dtype: int64

In [ ]:
df.head(1)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Job_Title,Salary_Estimate,Job_Description,Rating,Company Name,Location,Headquarters,...,Database_Management,Excel,job_simp,Seniority,desc_len,Competitors_count,Min_salary_hr,Max_salary_hr,avg_salary_hr,Rating_groups
0,0,0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",...,1,0,data analyst,NaN,7057,1,18.5,33.0,25.75,"(3.0, 4.0]"

In [ ]:
df.Industry.value_counts()

-1                                     353
IT Services                            325
Staffing & Outsourcing                 322
Health Care Services & Hospitals       151
Consulting                             111
                                      ...
Chemical Manufacturing                   1
Catering & Food Service Contractors      1
Trucking                                 1
Express Delivery Services                1
Pet & Pet Supplies Stores                1
Name: Industry, Length: 89, dtype: int64

In [ ]:
df.to_csv("Data_analyst_cleaned.csv")